@import '~node_modules/modern-normalize/modern-normalize.css';

// common form (for subscribe and footer) Kutsyi Vasyl
%subscribe__common-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: $primary-color;
  border-radius: 30px;
  padding: 11px 22px;
}
%subscribe__common-input {
  &::placeholder {
    font-size: 12px;
    line-height: 150%;
    color: #505050;
  }
  padding: 12px;
  border-radius: 30px;
  background: $bgc-white;

  border: 1px solid $yellow;
}
