.cards-set {
    gap:var(--cards-set-gap);
    display: flex;
    flex-wrap: wrap;
@include mq(tab){
      --cards-item:2;}
@include mq(desk){
      --cards-item:3;}
    
    /* margin-top: calc(-1 * $cards-set-gap);
    margin-left: calc(-1 * $cards-set-gap); */
}

.cards-set__item {
    flex-basis: calc((100% - (var(--cards-item) - 1) * var(--cards-set-gap)) / var(--cards-item));
    /* margin-top: $cards-set-gap;
    margin-left: $cards-set-gap; */
}