:root {
  --cards-item: 1;
  --cards-set-gap: 32px;
}

$primary-color: #2c2c2c;
$green: #bbf330;
$btn-accent: #b5ff00;
$dark-green: #7eb101;
$yellow: #ffe550;
$bgc-white: #fefefe;
$colowhite: #ffffff;
$accent-color: #ff4d8d;
$menu-bshadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
$menu-bradius: 30px 0px 30px 30px;
$footer-bshadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
