<section class="customers section">
    <div class="customers__container container">
        <h2 class="customers__title title">What our Customers Say</h2>
        <p class="customers__txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="customers__list list cards-set">
            <li class="customers__item cards-set__item">
                <svg class="customers__icon" width="101" height="16">
                    <use href="./images/sprite.svg#stars"></use>
                </svg>
                <p class="customers__content">“The Best app I have used to order food in a while, so many options to
                    choose
                    from too, I would recommend to a freind,
                    No questions asked”</p>
                <div class="customers-avatar">
                    <img class="customers-avatar__img" src="./images/customers/man.png" alt="man" width="48"
                        height="48" />
                    <div class="customers-avatar__content">
                        <h3 class="customers-avatar__subtitle">Sumith Shah</h3>
                        <p class="customers-avatar__txt">Some Dude</p>
                    </div>
                </div>
            </li>
            <li class="customers__item cards-set__item">
                <svg class="customers__icon" width="100" height="16">
                    <use href="./images/sprite.svg#stars"></use>
                </svg>
                <p class="customers__content">“The ease with which I can just go in and order what i want was amazing,
                    It
                    has been a very pleasant experience ordering
                    from this app”</p>
                <div class="customers-avatar">
                    <img class="customers-avatar__img" src="./images/customers/women.png" alt="woman" width="48"
                        height="48" />
                    <div class="customers-avatar__content">
                        <h3 class="customers-avatar__subtitle">Sumith Shah</h3>
                        <p class="customers-avatar__txt">Some Dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>