<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer class="footer section">


        <div class=" container">
            <div class="footer__container">

                <div class="footer__container--equal">
                    <a class="footer__link-logo" href="">

                        <img src="./images/images-kutsyi_vasyl/logo.png" alt="logo">
                    </a>
                    <nav>
                        <ul class="footer__navigation-list list">
                            <li class="footer__item"><a class="footer__link-navigation link" href="">Home</a> </li>
                            <li class="footer__item"><a class="footer__link-navigation link" href="">About</a> </li>
                            <li class="footer__item"><a class="footer__link-navigation link" href="">Service</a> </li>
                            <li class="footer__item"><a class="footer__link-navigation link" href="">Menu</a> </li>
                            <li class="footer__item"><a class="footer__link-navigation link" href="">Contact</a> </li>
                        </ul>
                    </nav>
                </div>


                <form class="footer__form">
                    <h3 class="footer__form-title">Subscribe</h3>
                    <div class="footer__box-subscribe">
                        <input name="email-subscribe" class="footer__form-input" type="email"
                            placeholder="Enter your email">
                        <button class="footer__form-button" type="submit">
                            Subscribe
                        </button>
                    </div>
                    <span>By subscribing you agree to with our
                        <a class="footer__link--green" href="">Privacy Policy</a></span>
                </form>
            </div>
            <div class="footer__container-links">
                <ul class="footer__info-list list">

                    <li class="footer__item"><a class="footer__info-link" href="">Privacy Policy</a></li>
                    <li class="footer__item"><a class="footer__info-link" href="">Terms of Service</a></li>
                    <li class="footer__item"><a class="footer__info-link" href="">Cookies Settings</a></li>
                </ul>

                <p class="footer__text">2022 FoodSta &copy;</p>


            </div>
        </div>
    </footer>
</body>

</html>