<header class="header" id="header">
    <div class="container header_container">
        <a class="logo header__logo" href="">
            <svg class="logo__icon" width="66" height="52">
                <use href="./images/sprite.svg#logo"></use>
            </svg>
        </a>
        <button class="mob-menu__btn" type="button" data-menu-open data-menu-close>
            <svg class="mob-menu__icon" width="28" height="28">
                <use href="./images/sprite.svg#gg_menu"></use>
            </svg>
        </button>
        <nav class="nav header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#home">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#about">About</a></li>
                <li class="nav__item"><a class="nav__link" href="#service">Service</a></li>
                <li class="nav__item"><a class="nav__link" href="#menu">Menu</a></li>
                <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
                <li class="nav__item">
                    <button class="header__btn" type="button">Order Now</button>
                </li>
            </ul>
        </nav>
    </div>

    <div class="menu-overlay" data-menu>
        <div class="menu-container">
            <nav class="nav menu__nav">
                <ul class="nav__list menu__list">
                    <li class="nav__item menu__item">
                        <a class="nav__link" href="#home">Home</a>
                    </li>
                    <li class="nav__item menu__item">
                        <a class="nav__link" href="#about">About</a>
                    </li>
                    <li class="nav__item menu__item">
                        <a class="nav__link" href="#service">Service</a>
                    </li>
                    <li class="nav__item menu__item">
                        <a class="nav__link" href="#menu">Menu</a>
                    </li>
                    <li class="nav__item menu__item">
                        <a class="nav__link" href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<script src="./js/menu.js"></script>