<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section class="subscribe section">
      <div class="subscribe__container container">
        <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
        <form class="subscribe__form">
          <input
            name="email-subscribe"
            class="subscribe__input"
            type="email"
            placeholder="Enter your email"
          />
          <button class="subscribe__button" type="submit">Subscribe</button>
        </form>
        <picture>
          <source
            srcset="
              ./images/images-kutsyi_vasyl/desktop-banana.png    1x,
              ./images/images-kutsyi_vasyl/desktop-banana@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/images-kutsyi_vasyl/tablet-banana.png    1x,
              ./images/images-kutsyi_vasyl/tablet-banana@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/images-kutsyi_vasyl/mobile-banana.png    1x,
              ./images/images-kutsyi_vasyl/mobile-banana@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img
            class="subscribe__photo"
            src="./images/images-kutsyi_vasyl/desktop-banana.png"
            alt="Yellow banana"
          />
        </picture>
      </div>
    </section>
  </body>
</html>
