<<<<<<< Updated upstream
//Header styles
.header {
  background-color: $bgc-white;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  padding: 10px 0;
  margin-right: 50px;
}
.logo {
  @extend %link;
}
.nav__item {
  @extend %list;
  &:hover,
  &:focus {
    text-decoration-line: underline;
    color: $green;
  }
}
.nav__list {
  display: flex;
  gap: 28px;
  align-items: center;
}

.nav__link {
  @extend %link;
  font-size: 16px;
  line-height: 1.2;
  color: inherit;

  @media screen and(min-width: $tablet) and (min-width: $desktop) {
    font-size: inherit;
    line-height: inherit;
  }
}
.header__nav {
  display: none;
  @media screen and(min-width: $tablet) {
    display: inline-flex;
  }
}
.header__btn {
  display: none;
  border-radius: 30px;
  font-size: 14px;
  line-height: 150%;
  background-color: $green;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border: transparent;

  &:hover,
  &:focus {
    background-color: $btn-accent;
  }
  @media screen and(min-width: $tablet) {
    display: block;
  }
}
=======
.header__container{
    display: flex;
    justify-content: center;
}
>>>>>>> Stashed changes
